@media (max-width: 1708px) {
    .hero_content {
        margin-right: 50px;
    }
}
@media (max-width: 1677px) {
    .hero_content {
        margin-right: 20px;
    }
}
@media (max-width: 1640px) {
    .hero_content {
        margin-right: 0px;
    }

    .hero_assignment__image {
        margin-left: 150px;
    }
}


@media (max-width: 1585px) {
    .hero_assignment__image {
        margin-left: 80px;
    }
}
@media (max-width: 1520px) {
    .hero_assignment__image {
        margin-left: 50px;
    }
}

@media (max-width: 1420px) {
    .hero_title.first_title {
     max-width: 550px;
    }


   .advantages_content {
    margin-right: 150px;
   }
}

@media (max-width: 1355px) {
    .advantages_content {
    margin-right: 100px;
   }
}
@media (max-width: 1320px) {
    .advantages_content {
    margin-right: 50px;
   }

   .advantages_post {
    width: 500px;
   }
}


@media (max-width: 1280px){

     .container {
        max-width: 1200px;
     }

    .advantages_content {
    margin-right: 30px;
   }
}


@media (max-width: 1255px) {
    .citates {
        width: 350px;
    }
}



@media (max-width: 1198px) {

    .container {
        max-width: 1120px;
     }

  .hero_assignment_notification_top  {
    right: -100px;
        width: 350px;
        background-size: 100%;
    }

  .project_collumn  {
    width: 300px;
  }

  .project_overview_first {
    left: -30px;
  }
 
  
  .project_update  {
    left: -30px;
  }

  .project-master {
    left: 40px;
  }

    .highly_cards {
        gap: 10px;
    }
}

@media (max-width: 1116px)  {

    .container {
        max-width: 1020px;
    }
    
    .hero_assignment_notification_top  {
        /* top: 650px; */
        right: -20px;
        z-index: 99999;
    }

    .hero_assignment_notification_bottom {
        width: 400px;
    }


    .top_green {
        right: -20px;
    }

    .citates {
        width: 300px;
    }
}

@media (max-width: 1061px) {
         
    .container {
        max-width: 980px;
    }

    .customer_cards {
        grid-template-columns: 1fr 1fr;
    }

    .advantages_picture {
        width: 500px;
    }
    
    .advantages_post__image {
    width: 400px;
   }


}


@media (max-width: 900px) {

    .container {
        max-width: 800px;
        padding: 0 20px;
    }

    .hero_container {
        flex-direction: column;
    } 
    .advantages_container {
        flex-direction: column;
        align-items: center;
        justify-content: center
    } 

    .partners_logos {
        margin-left: 120px;
        display: grid;
        padding-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }

    .hero_content {
       padding-top: 100px;
       margin-right: 0px;
    }

    .hero_buttons {
        padding-bottom: 50px;
    }

    .hero_assignment {
    padding-top: 10px;
    padding-bottom: 150px;
    }

    .hero_assignment__image::before  {
    
        top: 60px;
        right: 10px;
        width: calc(100% + 75px);
        height: calc(100% + 20px);
        background-size: 100% 100%;
    }

    .hero_assignment_notification_bottom {
        left:  -70px;
    }

    .partners_title {
        padding-top: 10px;
    }

    .advantages_content {
        margin-left: 80px;
    }

    .advantages_post {
        padding-top: 50px;
        margin-bottom: 60px;
    }

    .project__title {
        padding-top: 10px;
    }

    .all_project {
        margin-left: 200px;
        grid-template-columns: 1fr;
        gap: 0px;
    }
     
    .dotted_line  {
        /* display: none; */

        position: absolute;
        top: 435px;
        left: -120px;
        width: 900px;
        height: 900px;
        transform: translateX(-50%) rotate(90deg);
    }

    .card_collumn {
        max-width: 550px;
    }

    .project_collumn{
       width: 550px;
    }

     .project_overview_first {
    left: 0px;
  }
 
  
  .project_update  {
    /* padding-top: 0px; */
    left: 0px;
  }

  .project-master {
    left: 70px;
  }

  .advantages_card  {
  column-gap: 70px;
  row-gap: 100px;
  }

  .title_text  {
    margin-bottom: 0px
  }

   .partners_logos {
        column-gap: 40px;  /* Уменьшаем отступ между логотипами на мобильных */
    }
    
    .logo svg {
        max-width: 120px;  /* Чуть уменьшаем сами логотипы, чтобы влезали */
        height: auto;
    }

    .citates:nth-child(n) {
        animation: none;
        opacity: 1;
        transform: none;
        z-index: auto;
    }
}


@media (max-width:770px) {
    .trial_title {
        max-width: 500px;
        font-size: 30px;
    }

    .hero_title {
        font-size: 50px;
    }
    
    .highly_cards {
        margin-left: 30px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 80px;
        padding-bottom: 40px;
    }
    
    .authors_pst {
        margin-bottom: 20px;
    }

    .partners_logos {
        column-gap: 40px;  /* Уменьшаем отступ между логотипами на мобильных */
    }
    
    .logo svg {
        max-width: 120px;  /* Чуть уменьшаем сами логотипы, чтобы влезали */
        height: auto;
    }

    .customer_btn {
        position: relative; /* Кнопка уходит из угла в центр */
        top: 0;
        right: 0;
        margin: 20px auto;
        display: block;
    }
    

}

@media (max-width:730px) {
     .customer_btn {
        position: sticky;
        margin-bottom: 40px;
    }

    .all_project {
        margin-left: 140px;
    }

    .partners_logos {
        margin-left: 80px;
       
    }

    .citates {
        max-width:auto;
    }

    .authors {
        margin-top: 40px;
    }
}


@media (max-width:570px)  {
       
    .container {
        max-width: 450px;
        padding: 0 10px;
    }
      
    .hero_content {
        padding-left: 30px;
    }

    .partners_logos {
        margin-left: 40px;
       
    }

    .all_project {
        margin-left: 70px;
    } 

    .customer_cards {
        grid-template-columns: 1fr;
       
    }
    

    .citates {
    margin-bottom: 60px;
     width: 387px;
    }

}

@media (max-width:430px) {

    .hero {
            padding-top: 0;
    }

    .container {
        max-width: 320px;
        padding: 0 10px;    
    } 
    .hero_assignment  {
        display: none ;
    }
    

    .hero_content {
        padding-left: 10px;
    } 


    .hero_assignment {
        display: inline-block;
        background: url("../media/pircing.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .hero_assignment__image::before {
        display: none;
    }

    .hero_assignment_notification_bottom {
        display: none;
    }

    .hero_assignment_notification_top {
        position: absolute;
        top: -5px;
        right: 20px;;
        width: 280px;
        height: 70px;
    }

    .avatar img{
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        width: 60px;
        height: 60px;
    }

    .hero_assignment_title {
        padding-top: 25px;
        margin-bottom: 6px;
        font-size: 16px;
    }

    .hero_assignment_desc {
        font-size: 12px;
    }

    .partners_title {
        padding-top: 50px;
    }
    
    .aloh {
        display: none;
    }

    .span_line::before {
        position: absolute;
        bottom: -30px;
        left: -110px;
        width: 250px;
        height: 130px  
    }

    .hero_title{
        font-size: 35px;
    }

    .hero_desc {
        font-size: 16px;
    }

    .citates {
    margin-bottom: 60px;
     width: 330px;
    } 

    .partners_logos.flex {
        margin-top: 120px;
        margin-left: 130px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 80px;
    }

    .advantages_card.grid {
        grid-template-columns: 1fr;
    }

    .advantages_content {
        margin-left: 120px;
    }

    .advantages_blok {
        width: 280px;
    }

    .advantages_title {
        font-size: 20px;
        max-width: 300px;
    }

    .advantages_picture{
        margin-left: 100px;
        width: 300px;
        height: 300px;
    }

    .top_green {
     display: none;
    }

    .advantages_post_notification.bottom_white {
        position: absolute;
        bottom: 0px;
        left: 90px
    }

    .project__title {
        font-size: 26px;
    }

        .all_project {
        margin-left: 0px;
    }  

    .highly_cards {
        grid-template-columns: 1fr;
    }

    .highly_card {
        width: 265px;
    }

    .highly_title{
        margin-left: 30px;
    }
    .highly_desc {
     margin-left: 30px;
    }

    .customer_title {
        font-size: 24px;
        margin-left: 30px;
    }
    .customer_desc {
        margin-left: 30px;
    }
    

    .trial_desc {
        font-size: 18px;
    }
    .trial_title {
        padding-left: 10px;
        max-width: 400px;
        font-size: 22px;
    }

    .advantages_container {
        margin: 0px;
    }

    .advantages_post {
        padding-top: 0px;
        margin-top: 0px;
        padding-left: 40px;
    }



    .all_project {
        row-gap: 100px;
    }
    .project_collumn {
        width:300px;
        height: 320px;
    }

     .project_overview_first {
        position: absolute;
        top: -93px;
        left: -20px;
        min-width: 200px;  
    }

    .overview_btn {
        min-width: 150px;
    }
    .step_long {
        width: 90px;
    }

    .project_update {
        position: absolute;
        top: 85px;
        left: 0px;
        min-width:  180px;
        /* background-color: aqua; */
    }

   
    .project-master {
        position: absolute;
        top: 25px;
        left: 45px;
        min-width: 210px;
    }


     .dotted_line  {
        position: absolute;
        top: 280px;
        left: -200px;
        width: 900px;
        height: 900px;
        transform: translateX(-50%) rotate(90deg);
    }
}

@media (max-width:400px) {
    .container {
        margin: 0px 0px;
        max-width: 290px;
        padding: 0 10px;    
    } 

    .hero_content {
        margin-left: 20px;
    }

    .partners_logos.flex  {
        margin-left: 100px;
    }

    .advantages_post {
        margin-left: 50px;
    }

    .all_project {
        margin-left: 40px;
    }
    .project__title {
       /* text-align: center; */
       max-width: auto;
       padding-left: 75px;
    }

    .project_collumn {
         margin-left: 0px;
         width:280px;
         height: 300px;
    }
    .project_overview_first {
        left: -30px;
        top: -110px;
    }
    .project_update {
        top: 85px;
        left: -10px; 
    }
    .project-master {
        top: 20px;
        left: 30px;
    }

    .container.customer_container {
        margin: 0px 0px;
        margin-left: 20px;
    }

    .highly_cards {
        margin-left: 60px;
    }
    .highly_title {
        /* max-width: auto; */
        margin-left: 0px;
        padding-left: 65px;
    }

    .highly_desc{
        margin-left: 0px;
        padding-left: 65px;
    }
}