
@media (max-width: 1235px) {
    .promo__right  {
        position: relative;
        margin-left: 250px;
    }

    .promo__grid {
       justify-content: center;
    }

        .right-side .right-side-box2 .right-side-stick-title {
            max-width: 355px;
    }
}



    .right-side .right-side-box2 .right-side-stick-subtitle {
        
        padding-top: 20px;
    }




@media (max-width:1215px) {

  .mockup_wrapper {

        display: none;
    }

}




@media (max-width:1135px) {

    .left-side .bottom-box {
        max-width: 195px;
        

    }

    .right-site-titles {
        max-width: 390px;
        height: 205px;

    }

    .left-side {
        max-width: 500px;
       
    }

      .left-side img{
        max-width: 500px;
        height: 400px;
    }

    .left-side .top-box {
        max-width: 225px;

    }

    .left-side .top-box .first-strip {
        max-width: 120px;
        
    }

.left-side .top-box .second-strip {
        max-width: 100px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }

 .right-side .right-side-box2 {
margin-bottom: 155px;
 }
 .right-side-box2 .right-side-stick-title {
   min-width: 255px;
   
 }
  .right-side-box2 .right-side-stick-subtitle {
   max-width: 255px;
  
 }

}



@media (max-width:1121px) {

    .left-side .bottom-box {
        max-width: 180px;
        

    }

     .left-side .bottom-box .bottom-box_btn {
        max-width: 140px;
        height: 20px;

    }

 .left-side .bottom-box > .box-title{
    font-size: 15px;
 }

  .left-side .bottom-box > .box-subtitle{
    font-size: 13px;
 }

 
  .left-side .bottom-box .box-strips > .first-strip{
    max-width: 100px;
    height: 6px;
 }

   .left-side .bottom-box .box-strips > .second-strip{
    max-width: 135px;
    height: 7px;
 }




    
    .right-side-box2 > .right-side-stick .right-side-stick-subtitle{
        max-width: 155px;
          font-size: 17px;
       
}

 .left-side {
        max-width: 500px;
        height: 405px;
    }

      .left-side img{
        max-width: 460px;
        height: 400px;
    }

    .left-side .top-box {
        max-width: 225px;

    }

    .left-side .top-box .first-strip {
        max-width: 120px;
        
    }

.left-side .top-box .second-strip {
        max-width: 100px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }
}

@media (max-width:1116px) {
    .right-side-box2 > .right-side-stick .right-side-stick-title{
        max-width: 155px;
        height: 63px;
        
}

 .right-side .right-side-box {
    max-width: 360px;
    height: 95px;
   }

    .right-side-box2 {
    max-width: 360px;
    height: 95px;
   }.left-side .bottom-box {
    margin-right: -155px;
 }

}
  

@media (max-width: 1105px) {

    .right-side-box > .right-side-stick .right-side-stick-subtitle {
        max-width: 325px;
        height: 60px;
        
    }

    .right-side-box2 > .right-side-stick .right-side-stick-title{
   width: 300px;
        height: 63px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }

    
}


@media (max-width:1070px) {

.right-side {
        max-width: 365px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }

    
}





@media (max-width:1060px) {
             .mockup_wrapper{
    max-width: 590px;
    
}.left-side .bottom-box {
    margin-right: -155px;
 }

.mockup_wrapper img{ 
    max-width: 465px;
  
}.left-side .bottom-box {
    margin-right: -155px;
 }

}




@media (max-width:1055px) {

    .right-site-titles {
     max-width: 370px;
   
    }.left-side .bottom-box {
    margin-right: -155px;
 }

 .right-side-box > .right-side-stick.right-side-stick-subtitle{
        max-width: 270px;
        height: 60px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }


}

@media (max-width: 1048px) {
    .promo__right  {
        width: 70px;
        margin-left: 0;
    }
}

@media (max-width:1030px) {
  
   
}.left-side .bottom-box {
    margin-right: -155px;
 }
  .mockup_wrapper {

        display: none;
    }
.left-side .bottom-box {
    margin-right: -155px;
 }



@media (max-width:1015px) {

     .mockup_wrapper {

        display: none;
    }
.left-side .bottom-box {
    margin-right: -155px;
 }

.mockup_wrapper img{ 
    max-width: 415px;
    height: 255px;
}
.left-side .bottom-box {
    margin-right: -155px;
 }


}


@media (max-width:1011px) {

      .mockup_wrapper {

        display: none;
    }

 .right-side-box > .right-side-stick .right-side-stick-subtitle {
        max-width: 275px;
        height: 60px;
        
    }

    .right-side-box2 > .right-side-stick .right-side-stick-title{
        max-width: 275px;
        height: 60px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }
    

}

@media (max-width:1006px) {
      .mockup_wrapper {

        display: none;
    }


.right-side {
    max-width: 340px;
    
   
}  .left-side .bottom-box {
    margin-right: -155px;
 }

.right-side > .right-site-titles > .right-side-title{
    max-width: 305px;
    height: 100px;
}  .left-side .bottom-box {
    margin-right: -155px;
 }

.right-side > .right-site-titles > .right-side-subtitle{
    max-width: 300px;
    height: 100px;
}  .left-side .bottom-box {
    margin-right: -155px;
 }

 .right-side-box >  .right-side-stick-subtitle {
        max-width: 265px;
        height: 255px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }


  .right-side-box2 > .right-side-stick-subtitle{
        max-width: 255px;
        height: 60px;
          font-size: 17px;
        
    }.left-side .bottom-box {
    margin-right: -155px;
 }


}

@media (max-width:995px) {
      .mockup_wrapper {

        display: none;
    }

.left-side .bottom-box {
    margin-right: -155px;
 }
}

@media (max-width:975px) {
  .mockup_wrapper {

        display: none;
    }
.left-side .bottom-box {
    margin-right: -155px;
 }

}


@media(max-width:960px) {

   .mockup_wrapper {

        display: none;
    }


    
.right-side > .right-site-titles > .right-side-title{
    max-width: 390px;
    height: 105px;
}  

.right-side > .right-site-titles > .right-side-subtitle{
    max-width: 375px;
    height: 55px;
    
}  

.right-side .right-side-box {
     max-width: 300px;
    height: 145px;
    
}

.right-side .right-side-box2 {
     max-width: 300px;
    height: 155px;
}

.right-side-box2 .right-side-stick .right-side-stick-title{
    max-width: 200px;
    height: 85px;
    
}
.right-side-box2 .right-side-stick .right-side-stick-subtitle{
    max-width: 200px;
    height: 85px;
      font-size: 17px;
}
.left-side .bottom-box {
    margin-right: -155px;
 }

}

@media (max-width:954px) {



    .left-side .top-box {
        max-width: 190px;

    }

    .left-side .top-box .first-strip {
        max-width: 100px;
        
    }

.left-side .top-box .second-strip {
        max-width: 80px;
        
    }

 .left-side .bottom-box {
    margin-right: -155px;
 }

  .mockup_wrapper {

        display: none;
    }


}


@media (max-width:915px) {


  .mockup_wrapper {

        display: none;
    }


}




@media (max-width:825px) {
    .right-side > .right-site-titles .right-side-subtitle{
    max-width: 355px;
    height: 100px;
  
}  


 
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.right-side {
    margin-top:55px;
    /*!*/
}

.amstr {
    margin-top: 20;
}

} 


@media (max-width:825px) {
    .mockup_wrapper {

        display: none;
    }

    .promo__right img {
        max-width:825px;
    }

    .highly_cards {
        margin-left: 30px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 80px;
        padding-bottom: 40px;
    }
}

@media(max-width:806px) {
    .cta .feat_content .cta_btn a{
        text-align: center;
        max-width: 155px;
        height: 55px;
        font-size: 10px;

    }
}

@media(max-width:725px) {

     .promo__right img {
        max-width:700px;
    }

}

@media(max-width:705px) {
     .promo__right img {
        max-width:675px;
    }

}

@media(max-width:680px) {
       .promo__right img {
        max-width:650px;
    }
    

}

@media(max-width:655px) {
       .promo__right img {
        max-width:640px;

    }
       .content {
        max-width: 655px;
    }


}


@media(max-width:645px) {
       .promo__right img {
        max-width:645px;
    }

       .content {
        max-width: 640px;
    }
}

@media(max-width:595px) {
           .promo__right img {
        max-width:595px;
    }

}

@media(max-width:557px){

    .right-side {
        margin-left: 40px;
    }

    .highly_cards {
        grid-template-columns: 1fr;
    }

           .promo__right img {
        max-width:556px;
    }

       .content {
        max-width: 557px;
    }



}




@media(max-width:500px) {
          .promo__right img {
        max-width:500px;
    }

       .content {
        max-width: 500px;
    }

}


@media(max-width:450px) {

       .content {
        max-width: 450px;
    }

          .promo__right img {
        max-width:450px;
    }

    .work_card {
        max-width: 300px;
    }

    .left-side {
        max-width: 400px;
        height: 400px;
        

    }
    

    .left-side img {
        max-width: 400px;
          height: 400px;
        

    }


    .left-side .top-box {
        margin-left: -80px;
    }

      .left-side .bottom-box {
        margin-top: -45px;
        max-width: 165px;
        height: 200px;
        position: absolute;
        left: 13px;
        
    }

        .left-side .bottom-box .box-title {
       
        margin-top: 20px;
    }

            .left-side .bottom-box .box-subtitle {
       
        margin-top: 5px;
    }


    .left-side .bottom-box .box-strips .first-strip {
        max-width: 75px;

    }
    
    .left-side .bottom-box .box-strips .second-strip {
      max-width: 115px;

    }
        .left-side .bottom-box .sticks-and-strips {
            position: absolute;
            bottom: 65px;
    }


 .left-side .bottom-box .bottom-box_btn {
      position: absolute;
      bottom: 25px;
      max-width: 125px;
      height: 15px;
    }

   .right-side-box2 .right-side-stick-subtitle {
    font-size: 17px;
   }

}

@media (max-width: 420px) {
    .pricing__hero__desc {
        margin-top: 0px;
    }
}

@media(max-width:400px) {
          .promo__right img {
        max-width:400px;
    }

       .content {
        max-width: 400px;
    }


}





@media (max-width: 420px) {
    .pricing__hero__desc {
        margin-top: 0px;
    }
}
p{
    padding: ;
}

