.container {
    max-width: 1290px; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
}


.flex {
    display: flex;
}


.grid{
    display: grid;
}


.first_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: var(--dark);
}

.second_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 40px;
    color: var(--dark);
}

.third_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: var(--dark);
}


/* HEADER */

.header {
    background-color:  var(--dark-green);
}

.header_container{
    padding: 0 40px;
    min-height: 75px;
    align-items: center;
    justify-content: space-between
}

.header_menu {
    gap: 33px;
}

.header_logo {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
}

.header_link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.header_signup_btn {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-green);
    border-radius: 8px;
    padding: 10px 16px;
    width: 82px;
    height: 41px;
    background: var(--light-green);
}

.header_login_btn {
    margin-left: 28px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--white);
}

/* HEADER */

/* ABOUT__US */

.hero {
    min-height: 70vh;
    background: var(--pale-grey);
}
.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    padding-top:60px;
}
.underline {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 202px;
    height: 63px;
    background: url('../images/underline_text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.hero_desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    padding-top: 36px;
}
.hero_img {
    border-radius: 12px;
    width: 385px;
    height: 415px;
}


.divider_img {
    position: relative;
    margin-top: 30px;
}
.divider_img::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 100%;
    height: 107px;
    background: var(--pale-grey);
    background-image: url('../images/hero_divider.svg');
    background-size: cover;
    background-repeat: no-repeat;
}



/* ABOUT__US */