.container {
    max-width: 1290px; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 
}


.flex {
    display: flex;
}


.grid{
    display: grid;
}


.first_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: var(--dark);
}

.second_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 40px;
    color: var(--dark);
}

.third_title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: var(--dark);
}


/* HEADER */

.header {
    background-color:  var(--dark-green);
}

.header_container{
    padding: 0 40px;
    min-height: 75px;
    align-items: center;
    justify-content: space-between
}

.header_menu {
    gap: 33px;
}

.header_logo {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
}

.header_link {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.header_signup_btn {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-green);
    border-radius: 8px;
    padding: 10px 16px;
    width: 82px;
    height: 41px;
    background: var(--light-green);
}

.header_login_btn {
    margin-left: 28px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--white);
}

/* HEADER */

/* ABOUT__US */

.hero {
    min-height: 70vh;
    background: var(--pale-grey);
}
.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    padding-top:60px;
}
.underline {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 202px;
    height: 63px;
    background: url('../images/underline_text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
/* .hero_text {
    max-width: 520px;
} */
.hero_desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    padding-top: 36px;
}
.hero_img {
    border-radius: 12px;
    width: 385px;
    height: 415px;
}


.divider_img {
    position: relative;
    margin-top: 87px;
}
.divider_img::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 107px;
    background: var(--pale-grey);
    background-image: url('../images/hero_divider.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


.stats {
    padding: 90px 0 75px;
}
.stats_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:116px;
}

.stats_text {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.stats_descript {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    margin-bottom: 80px;
}
.stats_btn{
    border-radius: 8px;
    width: 136px;
    height: 58px;
    background: var(--dark-green);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}
.stats_numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 88px;
    row-gap: 60px;
}
.stat {
  display: flex;
  flex-direction: column;
  gap:8px;
}
.stat_number {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: var(--dark-green);
    margin-bottom: 32px;
}
.stat_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--dark);
    margin-bottom: 12px;
}
.stat_desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
}


.heading {
    padding: 89px 0 85px ;
}
.heading_subject {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:37px;
}
.text_left {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}
.head_story {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--dark-green);
    margin-bottom: 28px;
}
.text_right {
    max-width: 950px;
}
.text_right p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    margin-bottom:20px;
}
.text_right p:last-child {
    margin-bottom: 0;
}


/* ABOUT__US */